
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.logo{
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.blog-img{
    max-width: 400px;
}
li{
    list-style: none;
}
/* Home */
/* Forms */

form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] ,
input[type="email"],
input[type="file"],
textarea{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0px;
}

.btn:hover {
    background-color: #0056b3;
}
