<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Blog</title>
</head>
<style>
        .btn{
        font-size: 20px;
        border: 1px solid rgba(128, 128, 128, 0.677);
        padding: 8px 24px;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
    }
.container {
    height: 100vh;
    display: flex;
    align-items: center;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
}

</style>
<body>
    <div class="container">

    {% if page == "Delete-Blog" %}
    
    <form action="#" method="post" class="form-container">
        {%csrf_token%}
        <h3>Did You Realy Want To 
            Delete This "{{blog.name}}" 
            Blog?
        </h3>
        <input class="btn" type="submit" value="Yes">
        <a class="btn" href="{% url 'Blog' blog.id %}">No</a>
    </form>
   {% else %}
   <form action="#" method="post" class="form-container">
    {%csrf_token%}
    <h3>Did You Realy Want To 
        Delete This "{{comment.comment}}" 
        comment?
    </h3>
    <input class="btn" type="submit" value="Yes">
    <a class="btn" href="{% url 'Home' %}">No</a>
    {%endif%}
</form>
</div>
</body>
</html>