<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Blog</title>
</head>
<style>
        .btn{
        font-size: 20px;
        border: 1px solid rgba(128, 128, 128, 0.677);
        padding: 8px 24px;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
    }
</style>
<body>
    <form action="#" method="post">
        {%csrf_token%}
        <h3>Did You Realy Want To 
            Delete This "{{blog.name}}" 
            Blog?
        </h3>
        <input class="btn" type="submit" value="Yes">
        <a class="btn" href="{% url 'Blog' blog.id %}">No</a>
    </form>
   
    
</body>
</html>