{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
    <title>Sign Up</title>
</head>
<style>
    h1{
        text-align: center;
    }
form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.btn{
            font-size: 16px;
        border: 1px solid rgba(128, 128, 128, 0.677);
        padding: 6px 18px;
        border-radius: 10px;
    }
</style>
<body>
    <form action="{% url 'Sign-up' %}" method="post">
        <h1>Sign Up</h1>
        {%csrf_token%}
        {{form.as_ul}}
        <input class="btn" type="submit" name="submit" value="Sign Up">
    </form>
</body>
</html>